{% include 'authority_header.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 400px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/f2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown" style="font-family: monospace;font-style: italic;font-size: 50px">Request</span></h2>
             <!--  <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

		<center>
			<h2></h2>
			
			<table class="table" style="width: 1200px">
				<tr>
					<th>Sl.no</th>
          <th>User</th>
          <th>Place</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Photo</th>
					<th>Requested Date</th>
					<th>Status</th>
				</tr>
				{% for row in data['request'] %}
				<tr>
					<td>{{loop.index}}</td>
          <td>{{row['fname']}} {{row['lname']}}</td>
          <td>{{row['place']}}</td>
          <td>{{row['phone']}}</td>
          <td>{{row['email']}}</td>
          <td><a href="/{{row['photo']}}"><img src="/{{row['photo']}}" height="100" width="100"></a></td>
					<td>{{row['requested_date']}}</td>

          {% if row['status']=="pending" %}
          <td>
            <a class="btn btn-warning" href="?action=accept&pid={{row['prequest_id']}}&uid={{row['user_id']}}">ACCEPT</a>
           <!--  <a class="btn btn-danger" href="?action=reject&pid={{row['prequest_id']}}&uid={{row['user_id']}}">REJECT</a> -->
          </td>
          {% else %}
					<td>{{row['status']}}</td>
          {% endif %}

           <td><a class="btn btn-primary" href="admin_view_criminal_activities?cid={{row['user_id']}}">Criminal Activities</a></td>
				</tr>
				{% endfor %}
			</table>

		</center>

{% include 'footer.html' %}