{% include "authority_header.html" %}

 <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 600px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/f3.jpg);height: 600px">
          <div class="carousel-container">
            <div class="container">
             
           				

<br><br><br><br><br>		
<form method="post">
	<center>
		<h1 style="color: white">Criminal Activities</h1>
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>Crime</th>
				<td><input type="text" required="" class="form-control" name="cm"></td>
			</tr>
			<tr>
				<th>Details</th>
				<td><textarea required="" class="form-control"  name="det"></textarea></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" class="btn btn-info" value="SEND" name="submit"></td>
			</tr>
		</table>



								
 </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
</form>

{% include "footer.html" %}