{% include 'user_header.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 400px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/f2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown" style="font-family: monospace;font-style: italic;font-size: 50px">Travel History</span></h2>
             <!--  <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

		<center>
			<h2></h2>
			
			<table class="table" style="width: 800px">
				<tr>
					<th>Sl.no</th>
					<th>From Place</th>
					<th>To Place</th>
					<th>Date</th>
				</tr>
				{% for row in data['his'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['fplace']}}</td>
					<td>{{row['tplace']}}</td>
					<td>{{row['booked_for']}}</td>
				</tr>
				{% endfor %}
			</table>

		</center>

{% include 'footer.html' %}